/* Css Reset */
* {
    margin: 0;
    padding: 0;
}

/* Css Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Kanit', sans-serif;
    
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Images */
#logo {
    margin: 12px 32px;
}

#logo img {
    margin: 2px 5px;
    height: 64px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(../img/back_g.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    
}

/* Utility Classes */
.h-primary{
    font-size: 3rem;
    padding: 12px;
}

.btn{
    padding: 8px 29px;
    background-color: #14d95a94;
    color: white;
    border: 1px solid white;
    border-radius: 11px;
    margin: 17px;
    font-size: 1.3rem;
    cursor: pointer;
}